*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

*{
    box-sizing: border-box;
}



.container{

    margin: 0 auto;
}



header{
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(../Dark_Space.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/*header2(alt img)

header{
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(../iceVer2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}*/

ul{
    float: left;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: rgb(237, 233, 252);
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.25s ease;
}

ul li a:hover{
    background-color: rgba(219, 225, 236, 0.788);
    color: #000;
}

ul li.active a{
    background-color: rgb(221, 219, 236);
    color: #000;
}

/*
.grFlag img{
    float:left;
    width: 150px;
    height: auto;
}
*/
.main{
    max-width: 1800px;
    margin: auto;
}

.title{
    opacity: 0.95;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.title h1{
    color: #fff;
    font-size: 70px;
    position:relative;

}

/*MAP TITLE <--- */
.b {
    word-wrap: break-word;
    width: 360px;
    border: 2px solid rgba(231, 226, 253, 0.829);
    background-color:#6b76af4b;
}  

.ParagraphWrapData {
    align-content: center;
    word-wrap: break-word;
    width: 570px;
    border: 2px solid rgba(231, 226, 253, 0.829);
    background-color:#0501117c;
} 


.MAPtitle{
    opacity: 0.95;
    position: absolute; left: 15%;
    top: 50%;
    transform: translate(-50%,-50%);

}

.MAPtitle h1{
    color: #fff;
    font-size: 70px;

}

.button{
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn:hover{
    background-color: rgba(231, 226, 253, 0.829);
    color: #000;
}

/* History Button Link */

.Historybutton{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* Coat of Arms - Buttons Link */

.CoAbutton{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.Shieldbutton{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.Databutton{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Mapbutton{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}




/*Tables in Data */
.table{
    vertical-align: auto;
    font-family: Arial, Helvetica, sans-serif;
    float:left;
    border-collapse: collapse;
    width: 100%;
    position: absolute; left: 45%;
    top: 45.62%;
    transform: translate(-45%,-50%);
    color: rgb(255, 255, 255);
}

td, th {
    border: 1px solid #e4e0fad8;
    text-align: middle;
    padding: 8px;
    top: 50%;

}

tr:nth-child(even) {
    background-color: #58608867;
}



/* Footer (( Index Only )) */

.footer{
    background-color: rgb(27, 27, 27);
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    border: 1px solid rgb(136, 142, 161)
}

/* Maps */


        /* grMap */

    /*.MapIMG{
        alt:Trulli;
        width:400px; 
        height:333px;
        position: absolute;
        padding-bottom: 30%;
        top: 50%;
        left: 45%;
        transform: translate(-50%,-50%);
        border: 4px solid rgba(177, 189, 231, 0.466)
        border: 2px solid #fff;
    }
    /*

    /* Google Map */
    .mapouter{
        position:absolute;
        text-align:right;
        height:540px;
        width:540px;
        position: absolute;
        padding-bottom: 30%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 3px solid rgba(231, 226, 253, 0.829);
        }
        
    .gmap_canvas{
        overflow:hidden;
        background:none
        !important; 
        height:540px;
        width:540px;
        }

/*  < ---  > */